In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings
from ipynb.fs.full.create_dataframe import computeDataframe,generateDataFrame
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("stats_df.csv",index_col=0).reset_index(drop=True)
comp_df=computeDataframe(df)
grouped_df=comp_df.compute_players_dataframe()
changed_grouped_df=generateDataFrame(grouped_df,df)
new_df=changed_grouped_df.add_head_to_head()

100%|██████████| 882/882 [01:05<00:00, 13.45it/s]

In [9]:
# print(new_df['h2h'][new_df['h2h'].notnull()])
display(new_df)
new_df.to_csv('h2h_added.csv')

,match_id,l_sf_rank,l_sf_elo,l_i_o_rank,l_i_o_elo_rank,w_sf_rank,w_sf_elo,w_i_o_rank,w_i_o_elo_rank,winner_id,...,l_r_game_w,w_gm_w,l_gm_w,w_g_dominance,l_g_dominance,w_br_ratio,l_br_ratio,w_win_p,l_win_p,h2h
0,81430,25.0,2003.0,26.0,1994.0,6.0,2174.0,7.0,2156.0,763,...,0.133333,0.483871,0.516129,0.937500,1.066667,0.500000,2.000000,0.053531,0.946469,NaN
1,81433,6.0,2174.0,7.0,2156.0,3.0,2362.0,3.0,2353.0,656,...,0.357143,0.555556,0.444444,1.292308,0.773810,1.320000,0.757576,0.649295,0.350705,NaN
2,81363,135.0,1718.0,148.0,1721.0,34.0,1971.0,32.0,1979.0,1772,...,0.300000,0.650000,0.350000,2.000000,0.500000,1.230769,0.812500,0.725686,0.274314,NaN
3,81404,74.0,1878.0,64.0,1896.0,48.0,1940.0,52.0,1910.0,990,...,0.200000,0.631579,0.315789,2.222222,0.450000,3.250000,0.307692,0.591076,0.408924,NaN
4,81415,56.0,1920.0,54.0,1905.0,36.0,1963.0,38.0,1955.0,923,...,0.428571,0.535714,0.464286,1.166667,0.857143,0.583333,1.714286,0.765995,0.234005,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34318,153130,55.0,1919.0,62.0,1849.0,40.0,1996.0,13.0,2062.0,4022,...,0.214286,0.571429,0.428571,1.666667,0.600000,0.972222,1.028571,0.160825,0.839175,0.0
34319,153078,48.0,1918.0,47.0,1943.0,42.0,1935.0,108.0,1803.0,4914,...,0.100000,0.619048,0.380952,3.636364,0.275000,0.666667,1.500000,0.428537,0.571463,0.0
34320,153047,118.0,1788.0,93.0,1752.0,51.0,1937.0,51.0,1886.0,3917,...,0.266667,0.620690,0.379310,1.875000,0.533333,1.166667,0.857143,0.558731,0.441269,NaN
34321,153096,65.0,1871.0,117.0,1790.0,26.0,2020.0,46.0,1944.0,3428,...,0.100000,0.631579,0.368421,3.333333,0.300000,0.666667,1.500000,0.887611,0.112389,NaN
34322,153054,96.0,1823.0,52.0,1883.0,86.0,1847.0,64.0,1844.0,3188,...,0.153846,0.500000,0.500000,1.000000,1.000000,0.500000,2.000000,0.354648,0.645352,0.0

In [3]:
df=pd.read_csv("h2h_added.csv",index_col=0).reset_index(drop=True)
comp_df=computeDataframe(df)
grouped_df=comp_df.compute_players_dataframe()
grouped_df.get_group(644)
gen_df=generateDataFrame(df,df)
display(gen_df.get_h2h_results(644,4920))
# groupby_df=new_df.sort_values('date').groupby('p1_id')
# grouped_df.get_group(644)

TypeError: get_h2h_results() missing 1 required positional argument: 'p2_num'